// COLOR DEFINITIONS //

$colors: (
  wellesley-blue:   (main: #002776,
                      alt: #173779),
  wellesley-cream:  (main: #ECDEBB,
                      alt: #D7CAAA),
  wellesley-aqua:   (main: #007A87,
                      alt: #006F7B),
  olive-green:      (main: #55601C,
                      alt: #4E581A),
  sunshine:         (main: #FECB00,
                      alt: #E7B900),
  wellesley-maroon: (main: #673327,
	                    alt: #5E2F24),
  wellesley-red:    (main: #D52B1E,
	                    alt: #C2281C),
  light-blue:       (main: #A0CFEB,
	                    alt: #92BDD6),
  pastel-blue:      (main: #A0D6D2,
	                    alt: #92C3BF),
  pastel-yellow:    (main: #E8EB6F,
	                    alt: #D3D665),
  pastel-peach:     (main: #EAC4B7,
	                    alt: #D5B3A7),
  pastel-lavender:  (main: #D7C8DC,
	                    alt: #C4B6C8),
  warm-gray:        (main: #AEA79F,
	                    alt: #9F9891)
);

$primary-color   : map-get($colors, wellesley-blue);
$secondary-color : map-get($colors, wellesley-cream);
$error-color     : map-get($colors, wellesley-red);
$success-color   : map-get($colors, olive-green);

$colors: map-merge($colors, (primary: $primary-color));
$colors: map-merge($colors, (secondary: $secondary-color));

// END COLOR DEFINITIONS //

// Define useful mixins
@mixin btn-color($color-map, $color-type) {
  $font-color: if(
    map-has-key($color-map, text-color), 
    map-get($color-map, text-color), 
    #fff);
  color: $font-color;
  background-color: map-get($color-map, $color-type);
  border-color: map-get($color-map, $color-type);
}
@mixin text-color($color-map, $color-type) {
  color: map-get($color-map, $color-type) !important;
}
@mixin bg-color($color-map, $color-type) {
  background-color: map-get($color-map, $color-type) !important;
  $font-color: if(
    map-has-key($color-map, text-color), 
    map-get($color-map, text-color), 
    #fff);
  color: $font-color;
}

// basic colors
h1, h2, h3, h4, h5, h6 {
  @include text-color($primary-color, main);
}
a {
  @include text-color($primary-color, main);
}
a:hover {
  @include text-color($primary-color, alt);
}
.dropdown-item.active, .dropdown-item:active {
  @include bg-color($primary-color, main);
}
.text-error {
  @include text-color($error-color, main);
}
.text-success {
  @include text-color($success-color, main);
}

// define other colors
@each $color, $map in $colors {
  .bg-#{$color} { @include bg-color($map, main); }

  .btn-#{$color} { @include btn-color($map, main); }
  .btn-#{$color}:hover { @include btn-color($map, alt); }

  .text-#{$color} { @include text-color($map, main); }
  a.text-#{$color}:hover,
  a.text-#{$color}:focus { @include text-color($map, alt); }
}
