h1, h2, h3, h4, h5, h6 {
  color: #002776 !important;
}

a {
  color: #002776 !important;
}

a:hover {
  color: #173779 !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #002776 !important;
}

.text-error {
  color: #D52B1E !important;
}

.text-success {
  color: #55601C !important;
}

.bg-wellesley-blue {
  background-color: #002776 !important;
}

.btn-wellesley-blue {
  color: #fff;
  background-color: #002776;
  border-color: #002776;
}

.btn-wellesley-blue:hover {
  color: #fff;
  background-color: #173779;
  border-color: #173779;
}

.text-wellesley-blue {
  color: #002776 !important;
}

a.text-wellesley-blue:hover,
a.text-wellesley-blue:focus {
  color: #173779 !important;
}

.bg-wellesley-cream {
  background-color: #ECDEBB !important;
}

.btn-wellesley-cream {
  color: #fff;
  background-color: #ECDEBB;
  border-color: #ECDEBB;
}

.btn-wellesley-cream:hover {
  color: #fff;
  background-color: #D7CAAA;
  border-color: #D7CAAA;
}

.text-wellesley-cream {
  color: #ECDEBB !important;
}

a.text-wellesley-cream:hover,
a.text-wellesley-cream:focus {
  color: #D7CAAA !important;
}

.bg-wellesley-aqua {
  background-color: #007A87 !important;
}

.btn-wellesley-aqua {
  color: #fff;
  background-color: #007A87;
  border-color: #007A87;
}

.btn-wellesley-aqua:hover {
  color: #fff;
  background-color: #006F7B;
  border-color: #006F7B;
}

.text-wellesley-aqua {
  color: #007A87 !important;
}

a.text-wellesley-aqua:hover,
a.text-wellesley-aqua:focus {
  color: #006F7B !important;
}

.bg-olive-green {
  background-color: #55601C !important;
}

.btn-olive-green {
  color: #fff;
  background-color: #55601C;
  border-color: #55601C;
}

.btn-olive-green:hover {
  color: #fff;
  background-color: #4E581A;
  border-color: #4E581A;
}

.text-olive-green {
  color: #55601C !important;
}

a.text-olive-green:hover,
a.text-olive-green:focus {
  color: #4E581A !important;
}

.bg-sunshine {
  background-color: #FECB00 !important;
}

.btn-sunshine {
  color: #fff;
  background-color: #FECB00;
  border-color: #FECB00;
}

.btn-sunshine:hover {
  color: #fff;
  background-color: #E7B900;
  border-color: #E7B900;
}

.text-sunshine {
  color: #FECB00 !important;
}

a.text-sunshine:hover,
a.text-sunshine:focus {
  color: #E7B900 !important;
}

.bg-wellesley-maroon {
  background-color: #673327 !important;
}

.btn-wellesley-maroon {
  color: #fff;
  background-color: #673327;
  border-color: #673327;
}

.btn-wellesley-maroon:hover {
  color: #fff;
  background-color: #5E2F24;
  border-color: #5E2F24;
}

.text-wellesley-maroon {
  color: #673327 !important;
}

a.text-wellesley-maroon:hover,
a.text-wellesley-maroon:focus {
  color: #5E2F24 !important;
}

.bg-wellesley-red {
  background-color: #D52B1E !important;
}

.btn-wellesley-red {
  color: #fff;
  background-color: #D52B1E;
  border-color: #D52B1E;
}

.btn-wellesley-red:hover {
  color: #fff;
  background-color: #C2281C;
  border-color: #C2281C;
}

.text-wellesley-red {
  color: #D52B1E !important;
}

a.text-wellesley-red:hover,
a.text-wellesley-red:focus {
  color: #C2281C !important;
}

.bg-light-blue {
  background-color: #A0CFEB !important;
}

.btn-light-blue {
  color: #fff;
  background-color: #A0CFEB;
  border-color: #A0CFEB;
}

.btn-light-blue:hover {
  color: #fff;
  background-color: #92BDD6;
  border-color: #92BDD6;
}

.text-light-blue {
  color: #A0CFEB !important;
}

a.text-light-blue:hover,
a.text-light-blue:focus {
  color: #92BDD6 !important;
}

.bg-pastel-blue {
  background-color: #A0D6D2 !important;
}

.btn-pastel-blue {
  color: #fff;
  background-color: #A0D6D2;
  border-color: #A0D6D2;
}

.btn-pastel-blue:hover {
  color: #fff;
  background-color: #92C3BF;
  border-color: #92C3BF;
}

.text-pastel-blue {
  color: #A0D6D2 !important;
}

a.text-pastel-blue:hover,
a.text-pastel-blue:focus {
  color: #92C3BF !important;
}

.bg-pastel-yellow {
  background-color: #E8EB6F !important;
}

.btn-pastel-yellow {
  color: #fff;
  background-color: #E8EB6F;
  border-color: #E8EB6F;
}

.btn-pastel-yellow:hover {
  color: #fff;
  background-color: #D3D665;
  border-color: #D3D665;
}

.text-pastel-yellow {
  color: #E8EB6F !important;
}

a.text-pastel-yellow:hover,
a.text-pastel-yellow:focus {
  color: #D3D665 !important;
}

.bg-pastel-peach {
  background-color: #EAC4B7 !important;
}

.btn-pastel-peach {
  color: #fff;
  background-color: #EAC4B7;
  border-color: #EAC4B7;
}

.btn-pastel-peach:hover {
  color: #fff;
  background-color: #D5B3A7;
  border-color: #D5B3A7;
}

.text-pastel-peach {
  color: #EAC4B7 !important;
}

a.text-pastel-peach:hover,
a.text-pastel-peach:focus {
  color: #D5B3A7 !important;
}

.bg-pastel-lavender {
  background-color: #D7C8DC !important;
}

.btn-pastel-lavender {
  color: #fff;
  background-color: #D7C8DC;
  border-color: #D7C8DC;
}

.btn-pastel-lavender:hover {
  color: #fff;
  background-color: #C4B6C8;
  border-color: #C4B6C8;
}

.text-pastel-lavender {
  color: #D7C8DC !important;
}

a.text-pastel-lavender:hover,
a.text-pastel-lavender:focus {
  color: #C4B6C8 !important;
}

.bg-warm-gray {
  background-color: #AEA79F !important;
}

.btn-warm-gray {
  color: #fff;
  background-color: #AEA79F;
  border-color: #AEA79F;
}

.btn-warm-gray:hover {
  color: #fff;
  background-color: #9F9891;
  border-color: #9F9891;
}

.text-warm-gray {
  color: #AEA79F !important;
}

a.text-warm-gray:hover,
a.text-warm-gray:focus {
  color: #9F9891 !important;
}

/*# sourceMappingURL=colors.css.map */
