{% macro render_input_prepend(fa_tag) %}
<div class="input-group-prepend">
  <span class="input-group-text bg-white border border-right-0">
    <i class="{{ fa_tag }}"></i>
  </span>
</div>
{% endmacro %}

{% macro render_input_errors(form_field, include_errors, id) %}
{% if include_errors %}
<div class="form-group" {% if id %} id="{{ id }}-messages" {% endif %}>
  {% for m in form_field.errors %}
    <p class="text-error form-text">{{ m }}</p>
  {% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro render_input_text(fa_tag, form_field, include_errors=True, id=None) %}
<div class="input-group input-group-lg">
  {{ render_input_prepend(fa_tag) }}
  
  {% if id %}
  {{ form_field(class_="form-control border border-left-0",
      placeholder=form_field.label.text, id=id) }}
  {% else %}
  {{ form_field(class_="form-control border border-left-0",
      placeholder=form_field.label.text) }}
  {% endif %}
</div>
{{ render_input_errors(form_field, include_errors, id) }}
{% endmacro %}

{% macro render_form(form, method="POST", action_url="", class_="", id="",
  submit_class="btn btn-lg btn-primary") %}
<form method="{{ method }}" action="{{ action_url }}" class="{{ class_ }}"
    {% if id %} id="{{ id }}" {% endif %}>
  {{ form.hidden_tag() if hidden_tag in form }}
  {% if caller %}
    {{ caller() }}
  {% endif %}

  {% if form.submit %}
    <p>{{ form.submit(class_=submit_class) }}</p>
  {% endif %}
</form>
{% endmacro %}
