<!--
filename: base.html
authors: Angelina Li, Kate Kenneally, Priscilla Lee
last modified: 05/24/2018
description: basic html template that other html pages inherit from
-->

{% set site_name = "better than tutor trac" %}

<!-- useful macros -->
{% macro make_nav_item(name, text, url=none) %}
<li class="nav-item {{ 'active' if active_page == name }}">
  <a class="nav-link" 
    href="{{ url_for(name) if url == none else url }}">{{ text }}</a>
</li>
{% endmacro %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="better than tutortrac">
		<meta name="author" content="angelina li, kate kenneally and priscilla lee">
		<title>{% if title %}{{ title }} - {% endif %}{{ site_name}}</title>

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

		<!-- custom css -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">

	  <!-- page specific css -->
		{% block css %}{% endblock %}
  </head>

  <body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg bg-secondary">
			<a class="navbar-brand" href="{{ url_for('index') }}">BTTT</a>
			
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#siteNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="siteNavbar">

				<ul class="nav nav-tabs ml-auto">
					{% if isLoggedIn %}
					<!-- insert/view session options visible if user is logged in -->
					{{ make_nav_item(name='view_sessions', text='View Sessions') }}
					<!-- login/logout options via CAS -->
					{{ make_nav_item(name='logout', text='Logout', url='/logout/') }}
					{% else %}
					{{ make_nav_item(name='login', text='Login') }}
					{% endif %}
				</ul>
				
			</div>
		</nav>

		<div class="container">
			<!-- flashed messages -->
			<!-- not sure if this is the best way to display messages? -->
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<ul class="list-group">
			{% for c, m in messages %}
			{% if c == "error" %}
				{% set c = "danger" %}
			{% elif c == "message" or not c %}
				{% set c = "info" %}
			{% endif %}
				<li class="list-group-item list-group-item-{{ c }}">{{ m }}</li>
			{% endfor %}
			</ul>
			<br>
			{% endif %}
			{% endwith %}

			{% if title %}
			<h1 class="display-4">{{ title }}</h1>
			<br>
			{% endif %}
			{% block content %}{% endblock %}
		</div>

		<!-- footer -->
		<footer class="footer">
			<div class="container text-muted text-center">
				Written by Angelina Li, Kate Kenneally and Priscilla Lee. <a href="https://github.com/Wellesley-CS304-SP18/semester-project-betterthantutortrac">Source code here.</a>
			</div>
		</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>
