<!--
filename: base.html
authors: Angelina Li, Kate Kenneally, Priscilla Lee
last modified: 05/24/2018
description: basic html template that other html pages inherit from
-->

{% set site_name = "Better Than Tutor Trac" %}

<!-- useful macros -->
{% macro make_nav_item(name, text, url=None) %}
<li class="nav-item {{ 'active' if active_page == name }}">
  <a class="nav-link" 
    href="{{ url_for(name) if url == None else url }}">{{ text }}</a>
</li>
{% endmacro %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Better Than TutorTrac">
  <meta name="author" content="Angelina Li, Kate Kenneally and Priscilla Lee">
  <title>{% if title %}{{ title }} - {% endif %}{{ site_name}}</title>

  <!-- vendor css -->
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">

	<!-- custom css -->
	<link rel="stylesheet" 
  href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" 
  href="{{ url_for('static', filename='css/colors.css') }}">

  <!-- page specific css -->
  {% block css %}{% endblock %}
</head>

<body>
  <!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="{{ url_for('index') }}">BTTT</a>
		
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#siteNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="siteNavbar">

			<ul class="nav navbar-nav ml-auto">
			  {% if isLoggedIn %}
			  <!-- insert/view session options visible if user is logged in -->
        {{ make_nav_item(name='view_sessions', text='View Sessions') }}
				<!-- login/logout options via CAS -->
        {{ make_nav_item(name='logout', text='Logout', url='/logout/') }}
				{% else %}
        {{ make_nav_item(name='login', text='Login') }}
				{% endif %}
			</ul>
			
		</div>
	</nav>

	<div class="container text-center">
		<!-- flashed messages -->
    <!-- not sure if this is the best way to display messages? -->
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		<ul class="list-group">
		{% for c, m in messages %}
    {% if c == "error" %}
      {% set c = "danger" %}
    {% elif c == "message" or not c %}
      {% set c = "info" %}
    {% endif %}
      <li class="list-group-item list-group-item-{{ c }}">{{ m }}</li>
		{% endfor %}
		</ul>
		<br>
		{% endif %}
		{% endwith %}

		{% if title %}
		<h1 class="display-4">{{ title }}</h1>
		<br>
		{% endif %}
		{% block content %}{% endblock %}
	</div>

	<!-- footer -->
	<footer class="footer">
		<div class="container text-muted text-center">
			Written by Angelina Li, Kate Kenneally and Priscilla Lee. <a href="https://github.com/Wellesley-CS304-SP18/semester-project-betterthantutortrac">Source code here.</a>
		</div>
	</footer>

	<!-- vendor js -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" 
  crossorigin="anonymous"></script>
  <script 
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
  crossorigin="anonymous"></script>
	<script 
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
  crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" 
  integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" 
  crossorigin="anonymous"></script>

  <!-- page specific js -->
  {% block js %}{% endblock %}
</body>
