{% extends "card_form.html" %}
{% set active_page = "login" %}

{% block form_content %}
{% call form_macros.render_form(form=form, id="login") %}
  {{ form_macros.render_input_text(
        fa_tag="fas fa-envelope", 
        form_field=form.email,
        id="email") }}

  {{ form_macros.render_input_text(
        fa_tag="fas fa-key",
        form_field=form.password,
        id="password") }}

  <p>{{ form.remember_me(class_="form-check-input", 
    type="checkbox", id="rememberMe") }} {{form.remember_me.label}}</p>
{% endcall %}
{% endblock %}
