{% extends "base.html" %}
{% set active_page = "new_session" %}
{% import "macros/standard.html" as macros %}
{% import "macros/forms.html" as form_macros %}

{% block content %}
<div id="accordion">
  
  {% call macros.render_acc_card(
        id="new_session",
        title="Student Login",
        expanded="true") %}
    {% call form_macros.render_form(
          form=new_session_form,
          submit_value="new_session") %}

      {{ form_macros.render_form_group(
            form_field=new_session_form.username,
            id="username") }} 
      <!-- specify hidden inputs to communicate with javascript functions -->
      <input id="autoPop" type="hidden" value="{{ autoPop }}"></input>
      {% if autoPop %}
      <input id="cid" name="cid" type="hidden" value="{{ cid }}"></input>
      {% else %}
      <input id="dept" type="hidden" value="{{ dept }}"></input>
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text bg-white border border-right-0">
            <i class="fas fa-graduation-cap"></i>
          </span>
        </div>
        <select class="form-control custom-select border border-left-0" id="course" 
          name="course" readonly>
          <option selected disabled>Select a course</option>
        </select>
      </div>
      <br>
      {% endif %}

    {% endcall %}
  {% endcall %}

  {% call macros.render_acc_card(
        id="tutor_exit",
        title="Tutor Logout") %}
    <p class="lead"><b>Tutors Only:</b><br>
    Click the button below when you're ready to end this session!</p>
    {{ form_macros.render_form(form=tutor_exit_form, submit_value="tutor_exit") }}
  {% endcall %}

</div>
{% endblock %}

{% block js %}
<!-- vendor js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>

<!-- mustache templates - wrapped in raw tag to prevent jinja2 interferance -->
{% raw %}
<script id="inactive-option-template" type="x-tmpl-mustache"> 
<option selected disabled>{{ text }}</option>
</script>

<script id="option-template" type="x-tmpl-mustache">
<option value={{ value }}>{{ text }}</option>
</script>

<script id="error-msg-template" type="x-tmpl-mustache">
<p class="text-error form-text">{{ text }}</p>
</script>
{% endraw %}

<!-- custom js -->
<script src="{{ url_for('static', filename='js/new_session.js') }}"></script>
{% endblock %}
